<link rel="stylesheet" href="style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<h1>Please place your ships....then click <a href="/game_play">Start Game</a></h1>

<div style="width:300px; display:inline-block;">
<h1>You <%= @something %> </h1>

<form action="/registered" method="post">

<label>Ship Type</label>
<select name="ship_type">
  <option value="battleship">Battleship</option>
  <option value="aircraft_carrier">Aircraft Carrier</option>
  <option value="submarine">Submarine</option>
  <option value="destroyer">Destoryer</option>
  <option value="cruiser">Cruiser</option>
</select>

<br>
<label>Coordinate</label>
<select name="ship_coord">
  <option value="A1">A1</option>
  <option value="A2">A2</option>
  <option value="A3">A3</option>
  <option value="A4">A4</option>
  <option value="A5">A5</option>
</select>

<br>
<label>Direction</label>
<select name="ship_direction">
  <option value="vertically">Vertically</option>
  <option value="horizontally">Horizontally</option>
</select>

<br>

  <input type="submit" name="submit" value="Place Ships"></input>
</form>

<h3>Opponent Board</h3>
<pre> <%= $game.opponent_board_view $game.player_1 %></pre>
<h3>Your Board</h3>
<pre id='bob'> <%= $game.own_board_view $game.player_1 %></pre>
</div>


<div style="width:300px; display:inline-block;">
<h1>Your opponent</h1>

<h3>Opponent Board</h3>
<pre> <%= $game.opponent_board_view $game.player_2 %></pre>
<h3>Your Board</h3>
<pre> <%= $game.own_board_view $game.player_2 %></pre>
</div>